body {
    background-color: #edca8e;
}

h1 {
    color: orange;
    font-size: 50px;
    font-family: "Comic Sans MS";
    
}

p {
    font-family: "Comic Sans MS";
    font-size: 20px;
    text-align: center;   
    
}

